/*body section*/
body {
  font-family: Roboto, Raleway;
  font-size: 14px;
  font-style: normal;
  margin: 0px auto;
  background-color: #fff;
}
/*logo section*/

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.text-studio {
  color: black;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/*Menu section*/
.link-menu {
  list-style-type: none;
}
.text-link {
  text-decoration: none;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.text-link:hover,
.text-link:focus {
  color: #2196f3;
}

.nav-list {
  list-style-type: none;
}
