/*WARIABLE*/

:root {
  --main-color: #2196f3;
  --background-color: #2F303A;
  --nav-color: #757575;
}

* {
  font-style: normal;
}

/*body section*/

body {
  font-family: Roboto, Raleway, Montserrat, sans-serif;
  font-size: 14px;
  margin: 0px auto;
  background-color: #fff;
  color: #212121;
  box-sizing: border-box;
  padding: 0px;
  width: 1600px;
  height: 2349px;
  border: none;
}

/*headerline*/

.headerline {
  padding: 0px;
  margin: 0px;
}

/*container*/

.container {
  display: inline-block;
  margin: 0px auto;
  padding: 0px 0px;
  font-family: inherit;
  color: inherit;
}

/*logo section*/

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-decoration: none;
}

.logotype {
  margin: 0px;
  padding: 24px 73px 25px 195px;
  display: inline-block;
}

.text-studio-black {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

/*Menu section*/

.menu-nav-list {
  list-style-type: none;
  display: inline-block;
}

.link-menu-list {
  display: inline-block;
}

.link-menu {
  list-style-type: none;
  display: flex;
  text-align: center;
  padding-left: 0px;
}

.link-menu :not(:last-child) {
  padding-right: 50px;
}

.link-item {
  display: inline-block;
}

.text-link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.text-link.current {
  color: var(--main-color);
}

/*navli*/

.nav-list-link {
  display: inline-block;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 331px;
}

.mail-text:hover, .mail-text:focus {
  color: var(--main-color);
}

.nav-item:first-child {
  padding-right: 50px;
}

.nav-item {
  color: var(--nav-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-item:hover, .nav-item:focus {
  color: var(--main-color);
}

/*Main section*/

.main-content-section {}

.main-content {
  background: #2F303A;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  padding: 0px;
  border: 1px solid var(--background-color);
}

.main-content-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 200px 452px 30px 452px;
  margin: 0px;
}

/*Buttons section*/

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--main-color);
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 0px;
  margin: 0px 700px 200px 700px;
  width: 200px;
  height: 50px;
}

/*buttons in portfolio*/

.buttons {
  background-color: var(--main-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  cursor: pointer;
}

.buttons-list {
  list-style: none;
}

/*features section*/

.features-items {}

.features-item-list {
  list-style-type: none;
  display: flex;
  padding: 94px 215px;
  margin: 0px 20px;
}

.features-item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: start;
  padding-right: 30px;
}

.features-item-text:not(:last-child) {}

.features-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

/*Heroes section*/

.heroes-list {
  list-style-type: none;
}

.activity {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
}

.box1 {}

.box2 {}

.box3 {}

/* Our team*/

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.proffesion {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Footer*/

.footer-section {
  background-color: #2F303A;
}

.text-studio-white {
  color: #fff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.adress {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.text-link-footer {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.text-link-footer:hover, .text-link:focus {
  color: var(--main-color);
}

span {
  margin-right: 5px;
}

/*portfolio box-list*/

.box-list {
  list-style: none;
}

.box-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}